<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.domain.financialCompany.mapper.FinancialCompanyMapper">

    <!-- resultMap 정의 -->
    <resultMap id="FinancialCompanyResultMap" type="org.scoula.domain.financialCompany.entity.FinancialCompany">
        <id property="financialCompanyId" column="financial_company_id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
    </resultMap>

    <!-- findAll -->
    <select id="findAll" resultMap="FinancialCompanyResultMap">
        SELECT
            financial_company_id,
            name,
            code
        FROM financial_company
    </select>

    <!-- select_id -->
    <select id="findById" parameterType="long" resultMap="FinancialCompanyResultMap">
        SELECT
            financial_company_id,
            name,
            code
        FROM financial_company
        WHERE financial_company_id = #{financialCompanyId}
    </select>

    <!-- insert -->
    <insert id="insert" parameterType="org.scoula.domain.financialCompany.entity.FinancialCompany"
            useGeneratedKeys="true" keyProperty="financialCompanyId">
        INSERT INTO financial_company (name, code)
        VALUES (#{name}, #{code})
    </insert>

    <!-- update -->
    <update id="update" parameterType="org.scoula.domain.financialCompany.entity.FinancialCompany">
        UPDATE financial_company
        SET name = #{name},
            code = #{code}
        WHERE financial_company_id = #{financialCompanyId}
    </update>

    <!-- 삭제 -->
    <delete id="delete" parameterType="long">
        DELETE FROM financial_company
        WHERE financial_company_id = #{financialCompanyId}
    </delete>

</mapper>
