<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.domain.financialproduct.financialcompany.mapper.FinancialCompanyMapper">

    <!-- resultMap 정의 -->
    <resultMap id="FinancialCompanyResultMap"
               type="org.scoula.domain.financialproduct.financialcompany.entity.FinancialCompany">
        <id property="financialCompanyId" column="financial_company_id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    <!-- 전체 조회 -->
    <select id="selectAllFinancialCompany"
            resultMap="FinancialCompanyResultMap">
        SELECT financial_company_id,
               code,
               name,
               created_at,
               updated_at
        FROM financial_company
        ORDER BY financial_company_id ASC
    </select>

    <!-- 단건조회 -->
    <select id="selectFinancialCompanyById" parameterType="long"
            resultMap="FinancialCompanyResultMap">
        SELECT financial_company_id,
               code,
               name,
               created_at,
               updated_at
        FROM financial_company
        WHERE financial_company_id = #{financialCompanyId}
    </select>

    <select id="findCodeById" parameterType="long" resultType="string">
        SELECT company_code
        FROM financial_company
        WHERE financial_company_id = #{financialCompanyId}
    </select>

    <select id="findIdByCode" parameterType="string" resultType="long">
        SELECT financial_company_id
        FROM financial_company
        WHERE company_code = #{companyCode}
    </select>

    <!-- 추가  -->
    <insert id="insertFinancialCompany"
            parameterType="org.scoula.domain.financialproduct.financialcompany.entity.FinancialCompany">
        INSERT INTO financial_company (code,
                                       name)
        VALUES (#{code},
                #{name})
    </insert>
    <!-- 배치 등록 (중복시 무시) -->
    <insert id="insertFinancialCompanyBatch">
        INSERT INTO financial_company(
        name,code,created_at,updated_at
        ) values
        <foreach collection="list" item="company" separator=",">
            (#{company.name},#{company.code},NOW(),NOW())
        </foreach>
    </insert>


    <!-- 수정 -->
    <update id="updateFinancialCompany"
            parameterType="org.scoula.domain.financialproduct.financialcompany.entity.FinancialCompany">
        UPDATE financial_company
        SET name       = #{name},
            code       = #{code},
            updated_at = CURRENT_TIMESTAMP
        WHERE financial_company_id = #{financialCompanyId}
    </update>
</mapper>
