<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.domain.financialCompany.depositSaving.mapper.DepositSavingMapper">

    <!-- resultMap 매핑 -->
    <resultMap id="DepositSavingResultMap" type="org.scoula.domain.financialCompany.depositSaving.entity.DepositSaving">
        <id property="depositSavingId" column="deposit_saving_id"/>
        <result property="financialCompanyId" column="financial_company_id"/>
        <result property="type" column="type" javaType="org.scoula.domain.financialCompany.depositSaving.entity.DepositSavingType"/>
        <result property="name" column="name"/>
        <result property="joinWay" column="join_way"/>
        <result property="interestDescription" column="interest_description"/>
        <result property="spdCondition" column="spd_condition"/>
        <result property="etcNote" column="etc_note"/>
        <result property="maxLimit" column="max_limit"/>
        <result property="saveMonth" column="save_month"/>
        <result property="interestRate" column="interest_rate"/>
        <result property="maxInterestRate" column="max_interest_rate"/>
        <result property="interestRateType" column="interest_rate_type"/>
        <result property="reserveType" column="reserve_type"/>
    </resultMap>

    <!-- INSERT -->
    <insert id="insertDepositSaving" parameterType="org.scoula.domain.financialCompany.depositSaving.entity.DepositSaving">
        INSERT INTO deposit_saving (financial_company_id,
                                    type,
                                    name,
                                    join_way,
                                    interest_description,
                                    spd_condition,
                                    etc_note,
                                    max_limit,
                                    save_month,
                                    interest_rate,
                                    max_interest_rate,
                                    interest_rate_type,
                                    reserve_type)
        VALUES (#{financialCompanyId},
                #{type},
                #{name},
                #{joinWay},
                #{interestDescription},
                #{spdCondition},
                #{etcNote},
                #{maxLimit},
                #{saveMonth},
                #{interestRate},
                #{maxInterestRate},
                #{interestRateType},
                #{reserveType})
    </insert>

    <!-- 단일 조회 -->
    <select id="selectDepositSavingById" parameterType="long" resultMap="DepositSavingResultMap">
        SELECT deposit_saving_id,
               financial_company_id,
               type,
               name,
               join_way,
               interest_description,
               spd_condition,
               etc_note,
               max_limit,
               save_month,
               interest_rate,
               max_interest_rate,
               interest_rate_type,
               reserve_type
        FROM deposit_saving
        WHERE deposit_saving_id = #{depositSavingId}
    </select>

    <!-- 전체 조회 -->
    <select id="selectAllDepositSavings" resultMap="DepositSavingResultMap">
        SELECT deposit_saving_id,
               financial_company_id,
               type,
               name,
               join_way,
               interest_description,
               spd_condition,
               etc_note,
               max_limit,
               save_month,
               interest_rate,
               max_interest_rate,
               interest_rate_type,
               reserve_type
        FROM deposit_saving
    </select>

    <!-- UPDATE -->
    <update id="updateDepositSaving" parameterType="org.scoula.domain.financialCompany.depositSaving.entity.DepositSaving">
        UPDATE deposit_saving
        SET financial_company_id = #{financialCompanyId},
            type                 = #{type},
            name                 = #{name},
            join_way             = #{joinWay},
            interest_description = #{interestDescription},
            spd_condition        = #{spdCondition},
            etc_note             = #{etcNote},
            max_limit            = #{maxLimit},
            save_month           = #{saveMonth},
            interest_rate        = #{interestRate},
            max_interest_rate    = #{maxInterestRate},
            interest_rate_type   = #{interestRateType},
            reserve_type         = #{reserveType}
        WHERE deposit_saving_id = #{depositSavingId}
    </update>

    <!-- DELETE -->
    <delete id="deleteDepositSaving" parameterType="long">
        DELETE
        FROM deposit_saving
        WHERE deposit_saving_id = #{depositSavingId}
    </delete>

</mapper>
