<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.domain.ledger.mapper.LedgerCodeMapper">

    <select id="findByName" parameterType="java.lang.String" resultType="org.scoula.domain.ledger.entity.LedgerCode">
        SELECT account_code_id,
               name,
               type
        FROM ledger_code
        WHERE name = #{name}
    </select>

    <select id="findByNames"
            resultType="org.scoula.domain.ledger.entity.LedgerCode">
        SELECT
        account_code_id,
        name,
        type
        FROM ledger_code
        WHERE name IN
        <foreach collection="names" item="n" open="(" separator="," close=")">
            #{n}
        </foreach>
    </select>

</mapper>