<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.domain.financialproduct.jeonseloan.mapper.JeonseLoanMapper">

    <!-- resultMap -->
    <resultMap id="JeonseLoanResultMap" type="org.scoula.domain.financialproduct.jeonseloan.entity.JeonseLoan">
        <id property="jeonseLoanId" column="jeonse_loan_id"/>
        <result property="financialCompanyId" column="financial_company_id"/>
        <result property="name" column="name"/>
        <result property="joinWay" column="join_way"/>
        <result property="loanExpensive" column="loan_expensive"/>
        <result property="erlyFee" column="erly_fee"/>
        <result property="dlyRate" column="dly_rate"/>
        <result property="loanLmt" column="loan_lmt"/>
        <result property="repayTypeName" column="repay_type_name"/>
        <result property="lendRateTypeName" column="lend_rate_type_name"/>
        <result property="lendRateMin" column="lend_rate_min"/>
        <result property="lendRateMax" column="lend_rate_max"/>
        <result property="lendRateAvg" column="lend_rate_avg"/>
        <result property="minRemainingVisaMonths" column="min_remaining_visa_months"/>
        <result property="maxLoanTermMonths" column="max_loan_term_months"/>
        <result property="loanMinAmount" column="loan_min_amount"/>
        <result property="loanMaxAmount" column="loan_max_amount"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

<!--    공통 조건-->
    <sql id="whereCondition">
        <where>
            <if test="request.loanMinAmount != null">
                AND loan_min_amount &lt;= #{request.loanMinAmount}
            </if>
            <if test="request.loanMaxAmount != null">
                AND loan_max_amount &lt;= #{request.loanMaxAmount}
            </if>
        </where>
    </sql>
<!--    공통 금리 정렬-->
    <sql id="orderByCondition">
        <choose>
            <when test="request.sortBy != null and request.sortBy.name() == 'MIN_RATE'">
                ORDER BY lend_rate_min ASC
            </when>
            <when test="request.sortBy != null and request.sortBy.name() == 'MAX_RATE'">
                ORDER BY lend_rate_max ASC
            </when>
            <when test="request.sortBy != null and request.sortBy.name() == 'AVG_RATE'">
                ORDER BY lend_rate_avg ASC
            </when>
            <otherwise>
                ORDER BY jeonse_loan_id ASC
            </otherwise>
        </choose>
    </sql>

    <!--    전세자금대출 단건 조회-->
    <select id="findById" resultMap="JeonseLoanResultMap">
        SELECT * FROM jeonse_loan
        WHERE jeonse_loan_id = #{jeonseLoanId}
    </select>

    <!-- 페이징 조회 -->
    <select id="findJeonseLoansWithFilter"
            resultMap="JeonseLoanResultMap">
        SELECT * FROM jeonse_loan
        <include refid="whereCondition"/>
        <include refid="orderByCondition"/>
    </select>

<!--    총 개수 조회-->
    <select id="countJeonseLoansWithFilter"
            resultType="int">
        SELECT COUNT(*) FROM jeonse_loan
        <include refid="whereCondition"/>
    </select>
</mapper>
